body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    margin-top:5px;
    margin-bottom: 0px;
    display:inline-block;
    border: 1px solid #ccc;
    height: 26px;
    padding: 2px 12px;
    cursor: pointer;
}